<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DshTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    <supportedRuntime version="v8.0" sku="net8.0-windows" />
    <supportedRuntime version="v10.0" sku="net10.0-windows" />
  </startup>
  <applicationSettings>
    <DshTray.Properties.Settings>
      <setting name="WebPort" serializeAs="String">
        <value>53080</value>
      </setting>
    </DshTray.Properties.Settings>
  </applicationSettings>
</configuration>
